
.Media {

		font-size: 18px;
		color: #eee;
		background-color: red;
		font-family: sans-serif;
		padding: 30px 10px 5px 10px;
		cursor: pointer;
		width: 245px;
		height: auto;
		border: 1px dashed white;
		vertical-align: top;
		display: inline-block;
		margin: 2% 2% 2% 2%; 

}

.Media-new {

	background-color: white;
	border: 1px dashed red;
	color: black;

}


.Media-new h3 {
	color: black;

}

.Media-cta {
	background-color: #ffff00;
	color: #111;
}




.Media:hover .Media-cover:hover {
  box-shadow: 10px 10px 30px #444;
}

.Media-cover {
  transition: .3s;
  box-shadow: 0 0 5px rgba(0,0,0,.3);
  height: 160px;
}




.Media-image {
  object-fit: cover;
}

.Media-title {
  margin: 5px 0 0 0;
  color: #eee;
  white-space: normal;
}

.Media-author {
  font-size: 12px;
  margin: 5px 0 0 0;
  color: #eee ;
  font-style: italic;
			
}